:root {
  --first-color: rgb(168, 5, 50);
  --second-color: rgb(30, 35, 38);
  --third-color: rgb(42, 49, 53);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to left top, var(--second-color), var(--third-color));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: whitesmoke;
}

.container {
  background: rgba(255, 255, 255, .25);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(168, 5, 50);
  border-radius: 10px;
  width: 85%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 40px;
  color: var(--first-color);
  text-shadow: 1px 2px 3px black;
  text-align: center;
}

.temp-container {
  width: 100%;
  padding: 15px;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
}

.input {
  width: 220px;
  font-family: monospace;
  padding: 5px;
  float: right;
  outline: none;
  background-color: rgba(255, 255, 255, .3);
  border-color: rgba(255, 255, 255, .5);
  color: black;
  font-size: 18px;
}

.input::placeholder {
  color: rgb(82, 82, 82);
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: var(--first-color);
  width: 100%;
  text-align: center;
}