:root {
  --first-color: rgb(168, 5, 50);
  --second-color: rgb(30, 35, 38);
  --third-color: rgb(42, 49, 53);
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: seagreen;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  background-color: rgba(255, 255, 255, .3);
  padding: 28px;
  border-radius: 7px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
  width: 90%;
  margin: 10px;
  max-width: 450px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.heading {
  font-size: 28px;
}

.input {
  height: 53px;
  width: 300px;
  background-color: rgba(255, 255, 255, .7);
  border-color: rgba(255, 255, 255, .4);
  font-size: 16px;
  padding: 0 42px;
  border-radius: 5px;
  outline: none;
}

.meaning-container {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: var(--first-color);
  width: 100%;
  text-align: center;
  color: whitesmoke;
}